.footer-container {
  background-color: #668982;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 150px auto 0 auto;
}

.footer h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}
.footer img {
  height: 100px;
}
